body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #5f2a9b 0%, #57a2c7 50%, #ed5353 100%);
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}



h2, p {
  font-size: xx-large;
  padding: 5px;
  color: #d7e7f1;
   display: inline-block;
  opacity: 0;
  position: relative;
  animation: dropFade 2s ease-out 1 forwards;
}

nav {
  margin: 0;
  padding: 0;
  background: #ffffff48;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
nav ul {
  padding: 0 10px;
  list-style: none;
  text-decoration: none;
  display: flex;   
  gap: 30px; }

  nav ul a {
  text-decoration: none;
  color: rgb(248, 203, 203);
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ed5353;}

h1 {
  margin: 5px;
  padding: 10px;
  color: #5a308a;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
  
.login {

  padding: 50px;
  width: 300px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  color: white;
  position: relative;
  animation-name: fadeSlide;
  animation-duration: 3s;
}

.login input {
  margin-bottom: 15px;
  padding: 10px;
  width: 250px;
  border: none;
  border-radius: 8px;
}

.login button {
  
  padding: 10px;
  width: 270px;
  background: #2a3b9b;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  animation-name: pulseButton;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dropFade {
  0% { opacity: 0; top: -50px;}
  100% { opacity: 1; top: 0; }
}

@keyframes fadeSlide {
  0%   { opacity: 0; top: -50px; }
  50%  { opacity: 0.5; top: -25px; }
  75% { opacity: 1; top: 0; }
}

@keyframes pulseButton {
  0%   { background-color: #2a3b9b; transform: scale(1); }
  50%  { background-color: #57a2c7; transform: scale(1.1); }
  75% { background-color: #2a3b9b; transform: scale(1); }
}

